.root {
  min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.container {
  width: 100%;
  max-width: 360px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: var(--padding_xxl);
}

@media (min-width: 576px) {
  .root {
    background-image: url('resources/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .container {
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
  }

  .wrapper {
    margin: 72px 40px;
  }
}
