.root {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.root:focus,
.root:active {
  text-decoration: none;
}

.root:disabled {
  cursor: default;
}

/* Size modifier */
.root_size_l {
  height: 56px;
  min-width: 56px;
  font-size: 18px;
  padding: 2px 22px;
}

.root_size_m {
  height: 40px;
  min-width: 40px;
  font-size: 16px;
  padding: 2px 20px;
}

.root_size_s {
  height: 28px;
  min-width: 28px;
  font-size: 13px;
  padding: 2px 14px;
}

/* Design modifier */

.root_design_primary,
.root_design_secondary,
.root_design_danger,
.root_design_default {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Design - primary */
.root_design_primary {
  background-color: #6fbfec;
}

.root_design_primary:focus {
  background-color: #67aacf;
}

.root_design_primary:active {
  background-color: #67aacf;
}

.root_design_primary:disabled {
  background-color: #8ccbef;
  color: #e8f5fc;
}

/* Design - secondary */
.root_design_secondary {
  background-color: #ffd166;
  color: #333;
}

.root_design_secondary:hover {
  background-color: #facc61;
}

.root_design_secondary:focus {
  box-shadow: 0 2px 8px #d7bc7d;
}

.root_design_secondary:disabled {
  background-color: #ffe09c;
  color: #666;
}

/* Design - danger */
.root_design_danger {
  background-color: #ff6163;
}

.root_design_danger:focus {
  background-color: #e05759;
}

.root_design_danger:active {
  background-color: #e05759;
}

.root_design_danger:disabled {
  background-color: #ff8182;
  color: #ffe6e6;
}

/* Design - default */
.root_design_default {
  background-color: #ccc;
  border: 1px solid #ddd;
  color: #000;
}

.root_design_default:focus {
  background-color: #bbbbbb;
}

.root_design_default:active {
  background-color: #bbbbbb;
}

.root_design_default:disabled {
  background-color: #d6d6d6;
  color: #565656;
}

/* Fullwidth modifier */
.root_fullwidth {
  width: 100%;
}

/* Rounded modifier */

/* With different size */
.root_rounded.root_size_s {
  border-radius: 14px;
}

.root_rounded.root_size_m {
  border-radius: 20px;
}

.root_rounded.root_size_l {
  border-radius: 28px;
}

/* With different design */
.root_rounded.root_design_default {
  background-color: #fff;
}

.root_rounded.root_design_default:focus {
  background-color: #f4f4f4;
}

.root_rounded.root_design_default:active {
  background-color: #f4f4f4;
}

.root_rounded.root_design_default:disabled {
  background-color: #f4f4f4;
  color: #f4f4f4;
}

/* Loading state modifier */
.root_loading.root {
  color: transparent;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
}

/* withIcon modifier */
.root_withIcon {
  padding-left: 14px;
}

.root_onlyIcon {
  padding: 0;
}

.icon {
  margin-right: 10px;
  line-height: 0;
}

.icon_onlyIcon {
  margin: 0;
}
