.root {
    position: relative;
    outline: none;
    border: none;
    text-decoration: none;
}

.root:focus,
.root:active {
    text-decoration: none;
}

/* Size modifier */
.root_size_l {
    line-height: 48px;
    font-size: 18px;
    padding: 0 24px;
}

.root_size_m {
    line-height: 38px;
    font-size: 16px;
    padding: 0 19px;
}

.root_size_s {
    line-height: 28px;
    font-size: 13px;
    padding: 0 14px;
}

/* Design modifier */

.root_design_primary,
.root_design_secondary,
.root_design_danger,
.root_design_default {
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 54px;
    border-radius: 4px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Design - primary */
.root_design_primary {
    background-color: #6FBFEC;
}

.root_design_primary:focus {
    background-color: #67AACF;
}

.root_design_primary:active {
    background-color: #67AACF;
}

.root_design_primary:disabled {
    background-color: #8CCBEF;
    color: #E8F5FC;
}

/* Design - secondary */
.root_design_secondary {
    background-color: #9BC53D;
}

.root_design_secondary:focus {
    background-color: #87AA37;
}

.root_design_secondary:active {
    background-color: #87AA37;
}

.root_design_secondary:disabled {
    background-color: #E7F1D0;
    color: #AFD164;
}

/* Design - danger */
.root_design_danger {
    background-color: #FF6163;
}

.root_design_danger:focus {
    background-color: #E05759;
}

.root_design_danger:active {
    background-color: #E05759;
}

.root_design_danger:disabled {
    background-color: #FF8182;
    color: #FFE6E6;
}

/* Design - default */
.root_design_default {
    background-color: #CCCCCC;
    color: #000;
}

.root_design_default:focus {
    background-color: #BBBBBB;
}

.root_design_default:active {
    background-color: #BBBBBB;
}

.root_design_default:disabled {
    background-color: #D6D6D6;
    color: #565656;
}

/* Fullwidth modifier */
.root_fullwidth {
    width: 100%;
}

/* Rounded modifier */
.root_rounded {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

/* With different size */
.root_rounded.root_size_s {
    border-radius: 14px;
}

.root_rounded.root_size_m {
    border-radius: 18px;
}

.root_rounded.root_size_l {
    border-radius: 24px;
}

/* With different design */
.root_rounded.root_design_default {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
}

.root_rounded.root_design_default:focus {
    background-color: #F4F4F4;
}

.root_rounded.root_design_default:active {
    background-color: #F4F4F4;
}

.root_rounded.root_design_default:disabled {
    background-color: #F4F4F4;
    color: #F4F4F4;
}

/* Loading state modifier */
.root_loading.root {
    color: transparent;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}
