.line-height_xxl {
  /* NOTE font-size: 28px; */
  line-height: 38px;
}

.line-height_xl {
  /* NOTE font-size: 24px; */
  line-height: 32px;
}

.line-height_l {
  /* NOTE font-size: 16px; */
  line-height: 22px;
}

.line-height_m {
  /* NOTE font-size: 14px; */
  line-height: 18px;
}

.line-height_s {
  /* NOTE font-size: 12px; */
  line-height: 16px;
}

.line-height_xs {
  /* NOTE font-size: 10px; */
  line-height: 14px;
}
