/* Top margins */
.top_none {
  margin-top: 0;
}

.top_xxs {
  margin-top: 2px;
}

.top_xs {
  margin-top: 4px;
}

.top_s {
  margin-top: 10px;
}

/* Default value */
.top_m {
  margin-top: 16px;
}

.top_l {
  margin-top: 24px;
}

.top_xl {
  margin-top: 32px;
}

.top_xxl {
  margin-top: 64px;
}

/* Bottom margins */
.bottom_none {
  margin-bottom: 0;
}

.bottom_xxs {
  margin-bottom: 2px;
}

.bottom_xs {
  margin-bottom: 4px;
}

.bottom_s {
  margin-bottom: 10px;
}

/* Default value */
.bottom_m {
  margin-bottom: 16px;
}

.bottom_l {
  margin-bottom: 24px;
}

.bottom_xl {
  margin-bottom: 32px;
}

.bottom_xxl {
  margin-bottom: 64px;
}
