.root {
  transform: translate3d(0, 0, 0);

  /* Animation */
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.root_state_entered {
  max-height: 100px;
}

/* Notification element */
.notification {
  --padding: calc(2 * var(--step));

  display: flex;
  margin: var(--padding_s) 0;
  padding: 0 var(--padding);
  border-radius: var(--border_radius);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--font_color_light);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);

  /* Animation */
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.notification_state_entered {
  opacity: 1;
}

.notification_state_exiting,
.root_state_exiting {
  transition-timing-function: ease-in;
}

.notification_state_exiting {
  transition-delay: 0.1s;
}

.row_first {
  flex-grow: 1;
  margin-right: var(--padding_m);
}

.row_last {
  margin: var(--padding) 0;
}

.contentWrapper {
  margin: var(--padding) 0;
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--font_color_light);
}
