.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #333;
  cursor: pointer;
  transition: background-color 200ms;
}

.root:hover {
  background-color: #e5f6ff;
}

.root_inverted {
  color: #fff;
}

.root_inverted:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
