.root {
  box-sizing: border-box;
  width: 100%;
  padding-right: calc(2 * var(--step));
  padding-left: calc(2 * var(--step));
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .root {
    max-width: 1200px;
  }
}

.root_fluid {
  max-width: none;
}
