.root {
  outline: none;
  border: none;
  text-decoration: none;
  width: fit-content;
}

.root:focus,
.root:active {
  text-decoration: none;
}

/* Size modifier */
.root_size_l {
  line-height: 48px;
  height: 48px;
  min-width: 48px;
  font-size: 18px;
  padding: 0 24px;
}

.root_size_m {
  line-height: 38px;
  height: 38px;
  min-width: 38px;
  font-size: 16px;
  padding: 0 19px;
}

.root_size_s {
  line-height: 28px;
  height: 28px;
  min-width: 28px;
  font-size: 13px;
  padding: 0 14px;
}

/* Design modifier */
.root_design_link {
  color: #3677c2;
  transition: color var(--transition_color);
}

.root_design_link.root_color_light {
  color: var(--font_color_light);
}

.root_design_link.root_color_dark {
  color: var(--font_color_main);
}

.root_design_link:hover,
.root_design_link.root_color_light:hover,
.root_design_link.root_color_dark:hover {
  color: var(--font_color_accent);
}

/* Underline modifier */
.root_underlined {
  text-decoration: underline;
}

/* Fullwidth modifier */
.root_fullwidth {
  display: block;
  width: 100%;
}

/* Rounded modifier */
.root_rounded {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* With different size */
.root_rounded.root_size_s {
  border-radius: 14px;
}

.root_rounded.root_size_m {
  border-radius: 18px;
}

.root_rounded.root_size_l {
  border-radius: 24px;
}

/* withIcon modifier */
.root_withIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.root_onlyIcon {
  padding: 0;
}

.icon {
  margin-right: 10px;
  line-height: 0;
}

.icon_onlyIcon {
  margin: 0;
}
